<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Command 관리</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <h1>배포관리</h1>
        <p class="lead">Command 관리</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/cmds/new">Command 등록</a>
            <a class="btn btn-lg btn-secondary" href="/cmds">Command 목록</a>
        </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/process/new">Process 등록</a>
            <a class="btn btn-lg btn-secondary" href="/process">Process 목록</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
